<!-- assignment_list.html -->
{% extends 'base.html' %}



{% block content %}
    <!-- Main div -->
    <div x-data="{createModal: false, updateModal: false}"
         class="grid h-full grid-cols-12 font-primary">

        <div class="container col-start-1 col-end-2 row-span-full my-1">
            {% include 'components/sidebar.html' %}
        </div>

        <!-- header -->
        <div class="col-span-full col-start-2 row-span-1">
            {% include 'components/header.html' with header_title='Encargos' %}
        </div>

        <div class="col-span-full col-start-2 grid grid-cols-1">

            {% if request.user.role == 'P' %}
                <div class="col-span-full row-span-1 mt-1 mr-9 h-fit justify-evenly bg-none">
                    <a class="whitespace-nowrap mt-1.5">Hoy
                        es: {{ weekday }} {{ day_number }}
                        de {{ month }}, {{ year }}</a>
                    <a @click="createModal = true"
                       hx-get="{% url 'Fichas:assignment-create' %}"
                       hx-target="#creationModal"
                       hx-trigger="click"
                       class="cursor-pointer rounded-full px-3 py-2 text-center text-sm font-thin text-zinc-50 bg-baublue
                   hover:animate-pulse hover:bg-blue-700 w-[150px} transition-all flex">Nuevo encargo</a>
                </div>
            {% else %}
                <div class="col-span-full row-span-1 mt-1 mr-9 h-fit justify-start bg-none">
                    <a class="place-self-start whitespace-nowrap mt-1.5">Hoy
                        es: {{ weekday }} {{ day_number }}
                        de {{ month }}, {{ year }}</a>
                </div>
            {% endif %}
        </div>


        <!-- assignment-list div -->


        <div id="assignment-list"
             class="col-start-2 col-span-full my-8 mx-4
                    grid grid-cols-7 gap-4"
             hx-get="{% url 'Fichas:assignment-list' %}" hx-trigger="load">
            <p>Loading...</p>
        </div>


        <!-- modals -->
        {% if request.user.role == 'P' %}
            <!-- Assignment Creation Modal  -->
            <div id="creationModal" x-show="createModal" x-transition.opacity.duration.300ms
                 x-cloak
                 class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50"
                 aria-hidden="true">
                {% include 'components/ACreateModal.html' %}
            </div>
            <!-- Assignment Update Modal -->
            <div id="update-modal" x-show="updateModal" x-transition.opacity.duration.300ms
                 x-cloak
                 class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50"
                 aria-hidden="true">
            </div>
        {% endif %}
    </div>
{% endblock %}