{% extends 'base.html' %}

{% block content %}
    <div x-data="{createModal: false}"
         class="grid grid-cols-12 grid-rows-6 font-primary h-full">
        <div class="container row-span-full col-start-1 col-end-2 my-1">
            {% include 'components/sidebar.html' %}
        </div>


        {% include 'components/header.html' with header_title='Assignments' %}

        <div id="assignment-list"
             class="col-start-2 col-span-full row-start-1 mt-20 mr-8 row-span-full
             items-start grid grid-rows-2 gap-3 h-full">
            {% if assignments %}

                {% for assignment in assignments %}
                    {% if assignment.is_open %}
                        <div class="assignment-card bg-baublue w-fit h-fit p-5 rounded-md text-zinc-50 flex flex-col drop-shadow-lg">
                            <h2 class="flex font-medium">{{ assignment.title }}</h2>
                            <p class="flex font-normal">{{ assignment.description }}</p>
                            <p class="flex font-thin text-sm">{{ assignment.time_window_start }}</p>
                            <p class="flex font-thin text-sm">{{ assignment.time_window_end }}</p>

                            {% if assignment.ficha_filled %}
                                <a href="{% url 'Fichas:ficha-update' request.user.id assignment.id %}"
                                   class="rounded-md hover:bg-indigo-600 w-fit bg-baublue brightness-125 shadow-lg border-2 border-baublack py-1 px-2 text-zinc-50 text-sm mt-2 text-center transition-all">
                                    Editar Ficha</a>
                            {% else %}
                                <a href="{% url 'Fichas:ficha-create' request.user.id assignment.id %}"
                                   class="rounded-md hover:bg-indigo-600 w-fit bg-baublue brightness-125 shadow-lg border-2 border-baublack py-1 px-2 text-zinc-50 text-sm mt-2 text-center transition-all">
                                    Llenar Ficha</a>
                            {% endif %}
                        </div>
                    {% else %}
                        <div class="assignment-card bg-baured w-fit h-fit p-5 rounded-md text-zinc-50 flex flex-col drop-shadow-lg saturate-50 font-thin text-sm">
                            <h2 class="flex">{{ assignment.title }}</h2>
                            <p class="flex">{{ assignment.description }}</p>
                            <p class="flex ">{{ assignment.time_window_start }}</p>
                            <p class="flex">{{ assignment.time_window_end }}</p>

                            <a class="rounded-md border-2 border-baublack py-1 px-2 text-muted text-sm mt-2 text-center">
                                Ficha Cerrada</a>
                        </div>
                    {% endif %}


                {% endfor %}
            {% endif %}
            {% if user.role == 'P' %}
                <div class="assignment-card">
                    <a @click="createModal = true"
                       class="bg-baublue rounded-full px-2 py-2 text-zinc-50 cursor-pointer">Create New Assignment</a>
                </div>

                </div>
                <div id="creationModal" x-show="createModal" x-transition.opacity
                     x-cloak
                     class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center" aria-hidden="true">
                    {% include 'components/ACreateModal.html' %}
                </div>
            {% endif %}
    </div>
{% endblock %}