{% extends 'base.html' %}

{% block content %}
    <div x-data="{createModal: false}"
         class="grid grid-cols-12 grid-rows-6 font-primary h-full">
        <div class="container row-span-full col-start-1 col-end-2 my-1">
            {% include 'components/sidebar.html' %}
        </div>


        {% include 'components/header.html' with header_title='Assignments' %}

        <div id="assignment-list"
             class="col-start-2 col-span-full row-start-1 mt-20 mr-8 row-span-full
             items-start grid grid-rows-2 gap-3 h-full">
            {% if assignments %}

                {% for assignment in assignments %}
                    <div class="assignment-card bg-baublue/20 w-fit h-fit p-5">
                        <h2>{{ assignment.title }}</h2>
                        <p>{{ assignment.description }}</p>
                        <p>{{ assignment.time_window_start }}</p>
                        <p>{{ assignment.time_window_end }}</p>

                        <a href="{% url 'ficha-create' assignment.id %}" class="fill-button">Fill Ficha</a>
                    </div>
                {% endfor %}
            {% endif %}
            {% if user.role == 'P' %}
                <div class="assignment-card">
                    <a @click="createModal = true"
                       class="bg-baublue rounded-full px-2 py-2 text-zinc-50 cursor-pointer">Create New Assignment</a>
                </div>

                </div>
                <div id="creationModal" x-show="createModal" x-transition.opacity
                     x-cloak
                     class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center" aria-hidden="true">
                    {% include 'components/ACreateModal.html' %}
                </div>
            {% endif %}
    </div>
{% endblock %}