<span class="mb-2 self-start font-thin">Evaluacion:</span>
{% if user.role == 'P' and not teacher_has_reviewed %}
    <button
            id="evaluate-btn"
            hx-get="{% url 'Fichas:review-create' user_id=ficha.student_id assignment_id=ficha.assignment_id %}?counter={{ review.count }}"
            hx-trigger="click"
            hx-target="#entries"
            hx-swap="beforeend"
            onclick="this.style.display = 'none'; document.getElementById('no-entry').style.display='none';"
            class="w-fit px-4 py-1 text-white bg-baublue hover:cursor-pointer">
        Evaluar
    </button>
{% endif %}
{% for entry in review %}
    {% include 'entry.html' %}
{% empty %}
    <span id="no-entry"
          class="self-start px-8 pb-2 text-justify">No hay evaluaciones aun</span>
{% endfor %}