<!-- ficha_detail.html -->
{% extends 'base.html' %}
{% load thumbnail %}

{% block title %}
    <title>{{ ficha.title }}</title>
{% endblock %}

{% block content %}
    <div class="grid min-h-screen grid-cols-12 font-primary">
        <div class="container col-start-1 col-end-2 row-span-full my-1">
            {% include 'components/sidebar.html' %}
        </div>
        <div id="ficha-container"
             class="col-span-full col-start-2 grid h-fit w-full grid-cols-12 p-4 text-center">
            <!-- Ficha.title & Student.name Header-->
            <div id="ficha-head"
                 class="col-span-full grid grid-cols-3 items-center bg-bauyellow pt-2 px-6 mb-2">
                <div class="col-start-2 col-end-3 text-2xl font-semibold text-center place-self-center place-items-center">
                    <div id="title" class="text-2xl leading-4">{{ ficha.title }}, <br>
                        <span class="font-normal text-muted text-base">{{ ficha.student.user.first_name }} {{ ficha.student.user.last_name }}</span>
                    </div>
                </div>
                {% if user == ficha.student.user %}
                    <div class="col-start-3 col-end-4 text-right place-self-center mb-1.5">
                        <a href="{% url 'Fichas:ficha-update' ficha.student.user.id ficha.assignment.id %}"
                           class="rounded px-4 py-2 text-white transition-all bg-baublue hover:bg-blue-600">Editar</a>
                    </div>
                {% elif user.role == 'P' %}
                    <div class="col-start-3 col-end-4 text-right">
                        <a class="rounded px-4 py-2 text-white bg-bauyellow">Reseñar</a>
                    </div>
                {% endif %}
            </div>
            <!-- Ficha Content -->
            <div id="cover-container"
                 class="col-start-4 col-span-6 row-span-2 place-items-center justify-center self-center grid grid-cols-1 h-fit aspect-[1/1] mb-4">
                <!-- Ficha.main_image -->

                <div onclick="window.open('{{ ficha.main_image.url }}', '_blank');"
                     style="background-image: url('{{ ficha.main_image.url }}')"
                     class="bg-cover bg-center w-full h-full aspect-[1/1] row-span-1 col-span-1 hover:cursor-pointer"></div>

            </div>
        </div>
        <div id="text-container"
             class="col-start-2 col-span-full grid grid-cols-1 place-items-center gap-2 py-4 px-6 prose-base leading-snug mx-16">

            <!-- Ficha.descripcion -->
            <div class="row-span-1 col-span-full items-start w-full min-h-[16vh] flex flex-col border-0 bg-zinc-50 px-2 py-1 border-baublack">
                <span class="h-fit self-start font-thin">Descripcion:</span>
                <span class="self-start px-16 pb-2 text-justify">{{ ficha.description }}</span>
            </div>
            <!-- Ficha.analisis_operacional -->
            <div class="row-span-1 col-span-full items-start w-full min-h-[16vh] flex flex-col border-0 bg-zinc-50 px-2 py-1 border-baublack">
                <span class="self-start font-thin">Analisis Operacional</span>
                <span class="self-start px-16 pb-2 text-justify">{{ ficha.analysis }}</span>
            </div>
            <!-- Ficha.analisis_referencial -->
            <div class="row-span-1 col-span-full items-start w-full min-h-[16vh] flex flex-col border-0 bg-zinc-50 px-2 py-1 border-baublack">
                <span class="self-start font-thin">Analisis Referencial</span>
                <span class="self-start px-16 pb-2 text-justify">{{ ficha.references }}</span>
            </div>
            <!-- Ficha.misc -->
            {% if ficha.misc %}
                <div class="row-span-1 col-span-full items-start w-full min-h-[16vh] flex flex-col border-0 bg-zinc-50 px-2 py-1 border-baublack">
                    <span class="self-start font-thin">Información Adicional:</span>
                    <span class="self-start px-16 pb-2 text-justify">{{ ficha.misc }}</span>
                </div>
            {% endif %}
            <!-- Ficha.keywords -->
            <div class="row-span-1 col-span-full justify-start w-full py-1">
                {% for keyword in ficha.keywords.all %}
                    <span class="rounded-full bg-zinc-50 px-2 py-1 mr-0.5 prose-sm">{{ keyword }}</span>
                {% endfor %}
            </div>
            <!-- Ficha.metadata (fechas) -->
            <div class="row-span-1 col-span-full justify-start w-full flex flex-col text-center">
                <span class="self-start font-thin text-muted">Fecha de creación y última fecha de actualización:</span>
                <span class="self-start font-thin text-muted">{{ ficha.created_at }} / {{ ficha.updated_at }}</span>
                <span class="self-start font-thin text-muted">Encargo: {{ ficha.assignment_id }}, {{ ficha.assignment.title.title }}</span>
            </div>
        </div>
    </div>
    </div>

{% endblock %}
