{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block title %}
    <title>Crear Ficha</title>
{% endblock %}

<!-- ... -->
{% block content %}
    <div class="mb-4 grid min-h-screen grid-cols-12 font-primary">
        <div id="sidebar" class="sticky top-0 col-start-1 col-end-3 p-4">
            {% include 'components/sidebar.html' %}
        </div>

        <div id='content' class="col-start-2 col-end-12 rounded-lg bg-white p-6 shadow-lg">
            <form action="{% url 'Fichas:ficha-create' request.user.id assignment_id %}" method="post"
                  enctype="multipart/form-data">
                {% csrf_token %}
                <!-- Ficha Image Section -->
                <div class="space-y-6">
                    <label class="text-lg font-semibold" for="ficha-image">Imagenes</label>

                    <div class="mt-1 flex flex-col items-start">
                        {{ fichaimageformset.management_form }}
                        {% for imgform in fichaimageformset %}
                            {{ imgform }}
                        {% endfor %}
                    </div>
                </div>
                <div>
                    <label class="text-lg font-semibold" for="title">Titulo</label>
                    <input type="text" id="title" name="title"
                           class="mt-1 w-full rounded-lg border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
                           placeholder="Titulo de la Obra">
                </div>
                <hr>


                <!-- Description Section -->
                <div class="h-fit flex-1">
                    <label class="text-lg font-semibold" for="description">Descripción</label>
                    {% render_field form.description id='description' type='text-input' class='h-full w-full rounded-md ring-inset' %}
                </div>
                <!-- Analisis Operacional -->
                <div class="h-fit flex-1">
                    <label for="analysis"
                           class="text-lg font-semibold">Analisis</label>
                    {% render_field form.analysis id="analysis" type="text-input" class='h-full w-full rounded-md ring-inset' %}
                </div>
                <!-- Analisis Referencial -->
                <div class="h-fit flex-1">
                    <label for="referencial"
                           class="text-lg font-semibold">Analisis Referencial</label>
                    {% render_field form.references id="referencial" type="text-input" class='h-full w-full rounded-md ring-inset' %}
                </div>
                <!-- Palabras Claves / Tags -->
                <div class="h-fit flex-1">
                    <label for="keywords"
                           class="flex-1 text-sm font-medium leading-6 text-gray-900">Palabras Clave</label>
                    {% render_field form.keywords id="keywords" type="text-input" class='h-full w-full rounded-md ring-inset' %}
                </div>
                <hr>
                <!-- Información Adicional -->
                <div class="h-fit flex-1">
                    <label for="misc"
                           class="flex-1 text-sm font-medium leading-6 text-gray-900">Informacion Adicional</label>
                    {% render_field form.misc id="misc" type="text-input" class='h-full w-full rounded-md ring-inset' %}
                </div>

                <!-- Buttons -->
                <div class="flex justify-end space-x-4">
                    <button type="submit" name="publish"
                            class="rounded-md bg-indigo-600 px-4 py-2 text-white hover:bg-indigo-700">Publicar
                    </button>
                    <button type="submit" name="save_draft"
                            class="rounded-md bg-yellow-300 px-4 py-2 hover:bg-yellow-400">Guardar como Borrador
                    </button>
                    <button type="submit" name="cancel" class="rounded-md bg-gray-400 px-4 py-2 hover:bg-gray-500">
                        Cancelar
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{#{% block footer %}#}
{#    {% include 'components/footer.html' %}#}
{#{% endblock %}#}
