{% extends 'base.html' %}
{% load widget_tweaks %}
{% block title %}
    <title>Editar Ficha</title>
{% endblock %}

{% block content %}
    <div x-data="{showModal: false}" class="grid h-fit grid-cols-12 font-primary">
        <div class="container col-start-1 col-end-2 row-span-full my-1">
            {% include 'components/sidebar.html' %}
        </div>

        <div id='content' class="col-start-2 col-span-full w-full items-center justify-center p-6">
            <form action="{% url 'Fichas:ficha-update' ficha.student.user.id ficha.assignment.id %}" method="post"
                  enctype="multipart/form-data"
                  class="grid grid-cols-6 gap-2">
                {% csrf_token %}
                <div class="col-span-full grid-cols-1 grid place-items-center">
                    <div class="row-span-1 col-span-full aspect-[1/1] ">
                        <img class="max-w-[33vw]" src="{{ ficha.main_image.url }}"
                             alt="ficha main image">
                        {#                        <span class="row-span-1  items-center">{{ ficha.main_image.name }}</span>#}
                    </div>
                    <div class="row-span-1  items-center my-4">
                        {% render_field form.main_image %}
                    </div>
                </div>


                <!-- Description Section -->
                <div class="col-span-full px-6">
                    <div class="h-fit ">
                        <label class="text-lg font-semibold" for="title">Titulo</label>
                        {% render_field form.title id='title' class='h-full w-full rounded-md ring-inset' %}
                    </div>
                    <hr>

                    <div class="h-fit ">
                        <label class="text-lg font-semibold" for="description">Descripción</label>
                        {% render_field form.description id='description' class='h-full w-full rounded-md ring-inset' %}
                    </div>
                    <!-- Analisis Operacional -->
                    <div class="h-fit ">
                        <label for="analysis"
                               class="text-lg font-semibold">Analisis</label>
                        {% render_field form.analysis id="analysis" class='h-full w-full rounded-md ring-inset' %}
                    </div>
                    <!-- Analisis Referencial -->
                    <div class="h-fit ">
                        <label for="referencial"
                               class="text-lg font-semibold">Analisis Referencial</label>
                        {% render_field form.references id="referencial" class='h-full w-full rounded-md ring-inset' %}
                    </div>
                    <!-- Palabras Claves / Tags -->
                    <div class="h-fit ">
                        <label for="keywords"
                               class="flex-1 text-sm font-medium leading-6 text-gray-900">Palabras Clave</label>
                        {% render_field form.keywords id="keywords" class='h-full w-full rounded-md ring-inset' %}
                    </div>
                    <hr>
                    <!-- Información Adicional -->
                    <div class="h-fit ">
                        <label for="misc"
                               class="flex-1 text-sm font-medium leading-6 text-gray-900">Informacion Adicional</label>
                        {% render_field form.misc id="misc" class='h-full w-full rounded-md ring-inset' %}
                    </div>
                    <div class="mt-6 flex flex-row gap-x-2">
                        {% include 'components/button.html' with bg_button='bg-baublue' extra_classes="hover:bg-blue-600" name='update' button_type="submit" button_text="Actualizar" %}
                        {#                    {% url 'ficha-delete-confirm' ficha.id as delete_confirm_url %}#}
                        <button @click="showModal = true"
                                class="rounded px-4 py-2 text-white bg-baured hover:bg-red-600"
                                type="button">Eliminar
                        </button>
                        <a href="{% url 'Fichas:ficha-list' %}"
                           class="rounded bg-gray-400 px-4 py-2 text-white hover:bg-gray-500">Cancelar</a>
                    </div>
                </div>


            </form>
        </div>
        <!-- Include the delete modal here -->
        <div id="deleteModal" x-show="showModal" x-transition.opacity
             x-cloak
             class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50" aria-hidden="true">
            {% include 'components/modal.html' %}
        </div>
    </div>
{% endblock %}

{% block footer %}
    {% include 'components/footer.html' %}
{% endblock %}