{% extends 'base.html' %}
{% load widget_tweaks %}
{% block title %}
    <title>Editar Ficha</title>
{% endblock %}

{% block content %}
    <div x-data="{showModal: false}" class="grid h-fit grid-cols-12 font-primary">
        <div class="container col-start-1 col-end-2 row-span-full my-1">
            {% include 'components/sidebar.html' %}
        </div>

        <div id='content' class="col-start-2 col-end-13 mr-6 rounded-lg bg-white p-6 shadow-lg my-4">
            <form action="{% url 'Fichas:ficha-update' ficha.student.user.id ficha.assignment.id %}" method="post"
                  enctype="multipart/form-data"
                  class="grid grid-cols-1">

                {% csrf_token %}
                <div class="col-span-full grid-cols-1 grid place-items-center">
                    <div class="row-span-1 col-span-full aspect-[1/1]">
                        <img id="image-preview" src="{{ ficha.main_image.url }}" alt="ficha main image"
                             class="max-w-[33vw]"
                             style="display: block;">
                    </div>
                    <div class="row-span-1 items-center my-4">
                        {% render_field form.main_image %}
                    </div>
                </div>

                <!-- Include the shared form elements here -->
                {% include 'components/shared-form.html' %}

                <!-- Buttons -->
                <div class="mt-6 flex flex-row gap-x-2">
                    {% if ficha.status == 'Borrador' %}
                        <button type="submit" name="submit" value="publish"
                                class="rounded-md bg-indigo-600 px-4 py-2 text-white hover:bg-indigo-700">Publicar
                        </button>
                        <button type="submit" name="submit" value="draft"
                                class="rounded-md bg-yellow-300 px-4 py-2 hover:bg-yellow-400">Actualizar
                        </button>

                    {% else %}
                        <button type="submit" name="submit" value="submit"
                                class="rounded-md bg-indigo-600 px-4 py-2 text-white hover:bg-indigo-700">Actualizar
                        </button>
                        <button type="submit" name="submit" value="draft"
                                class="rounded-md bg-yellow-300 px-4 py-2 hover:bg-yellow-400">Guardar como Borrador
                        </button>
                    {% endif %}

                    <button @click="showModal = true" class="rounded px-4 py-2 text-white bg-baured hover:bg-red-600"
                            type="button">Eliminar
                    </button>
                    <a href="{% url 'Fichas:ficha-list' %}"
                       class="rounded bg-gray-400 px-4 py-2 text-white hover:bg-gray-500">Cancelar</a>
                </div>
            </form>
        </div>


        <!-- Include the delete modal here -->
        <div id="deleteModal" x-show="showModal" x-transition.opacity
             x-cloak
             class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50" aria-hidden="true">
            {% include 'components/modal.html' %}
        </div>
    </div>

    <script>
        const imageInput = document.getElementById('id_main_image');
        const imagePreview = document.getElementById('image-preview');

        // Function to update the image preview
        function updateImagePreview() {
            const file = imageInput.files[0];
            if (file) {
                const imageURL = URL.createObjectURL(file);
                imagePreview.src = imageURL;
                imagePreview.style.display = 'block';
            } else {
                imagePreview.style.display = 'block';
            }
        }

        imageInput.addEventListener('change', updateImagePreview);

        // Update the image preview when the page loads
        window.addEventListener('load', updateImagePreview);
    </script>
{% endblock %}