<!-- ficha_detail.html -->
{% extends 'base.html' %}
{% load thumbnail %}
{% load embed_video_tags %}

{% block title %}
    <title>{{ ficha.title }}</title>
{% endblock %}

{% block content %}
    <div class="grid min-h-screen grid-cols-12 font-primary">
        <div class="container col-start-1 col-end-2 row-span-full my-1">
            {% include 'components/sidebar.html' %}
        </div>
        <div id="ficha-container"
             class="col-span-full col-start-2 grid h-fit w-full grid-cols-12 p-4 text-center">
            <!-- Ficha.title & Student.name Header-->
            <div id="ficha-head"
                 class="col-span-full mb-2 grid grid-cols-3 items-center px-6 pt-2 bg-bauyellow">
                <div class="col-start-2 col-end-3 place-items-center place-self-center text-center text-2xl font-semibold">
                    <div id="title" class="text-2xl leading-4">{{ ficha.title }}, <br>
                        <span class="text-base font-normal text-muted">{{ ficha.student.user.first_name }} {{ ficha.student.user.last_name }}</span>
                    </div>
                </div>
                {% if user == ficha.student.user %}
                    <div class="col-start-3 col-end-4 place-self-center text-right mb-1.5">
                        <a href="{% url 'Fichas:ficha-update' ficha.student.user.id ficha.assignment.id %}"
                           class="rounded px-4 py-2 text-white transition-all bg-baublue hover:bg-blue-600">Editar</a>
                    </div>
                {% endif %}
            </div>

            <!-- Ficha Content -->
            <div id="cover-container"
                 class="col-span-6 col-start-4 row-span-2 mb-4 grid h-fit grid-cols-1 place-items-center justify-center self-center aspect-[1/1]">
                <!-- Ficha.main_image -->

                <div onclick="window.open('{{ ficha.main_image.url }}', '_blank');"
                     style="background-image: url('{{ ficha.main_image.url }}')"
                     class="col-span-1 row-span-1 h-full w-full bg-cover bg-center aspect-[1/1] hover:cursor-pointer"></div>

            </div>
        </div>
        <div id="text-container"
             class="col-span-full col-start-2 mx-16 grid grid-cols-1 place-items-center gap-2 px-6 py-4 leading-snug prose-base">

            <!-- Ficha.descripcion -->
            <div class="col-span-full row-span-1 flex w-full flex-col items-start border-0 bg-zinc-50 px-2 py-1 min-h-[16vh] border-baublack">
                <span class="h-fit self-start font-thin">Descripcion:</span>
                <span class="self-start px-16 pb-2 text-justify">{{ ficha.description }}</span>
            </div>
            <!-- Ficha.analisis_operacional -->
            <div class="col-span-full row-span-1 flex w-full flex-col items-start border-0 bg-zinc-50 px-2 py-1 min-h-[16vh] border-baublack">
                <span class="self-start font-thin">Analisis Operacional</span>
                <span class="self-start px-16 pb-2 text-justify">{{ ficha.analysis }}</span>
            </div>
            <!-- Ficha.analisis_referencial -->
            <div class="col-span-full row-span-1 flex w-full flex-col items-start border-0 bg-zinc-50 px-2 py-1 min-h-[16vh] border-baublack">
                <span class="self-start font-thin">Analisis Referencial</span>
                <span class="self-start px-16 pb-2 text-justify">{{ ficha.references }}</span>
            </div>
            <!-- Ficha.misc -->
            {% if ficha.misc %}
                <div class="col-span-full row-span-1 flex w-full flex-col items-start border-0 bg-zinc-50 px-2 py-1 min-h-[16vh] border-baublack">
                    <span class="self-start font-thin">Información Adicional:</span>
                    <span class="self-start px-16 pb-2 text-justify">{{ ficha.misc }}</span>
                </div>
            {% endif %}
            <!-- Ficha.anexos -->
            {% if ficha.anexos %}
                <div class="col-span-full row-span-1 flex w-full flex-col border-0 bg-zinc-50 px-2 py-1 min-h-[16vh] border-baublack ">
                    <span class="self-start  font-thin">Anexos:</span>
                    {#                    <a href="{{ ficha.anexos }}"#}
                    {#                       class="self-start px-16 pb-2 text-justify text-blue-600 hover:text-blue-900">{{ ficha.anexos }}</a>#}
                    <div class="grid grid-cols-2 gap-2">

                        {% for embed in embed_codes %}
                            {% if embed.url %}
                                <div id="non-embed" class="col-span-1 row-span-1 text-blue-600 hover:text-blue-900">
                                    <a href="{{ embed.url }}">{{ embed.url }}</a>
                                </div>
                            {% else %}
                                <div id="embed" class="col-span-1 row-span-1 text-blue-600 hover:text-blue-900">
                                    {{ embed|safe }}
                                </div>
                            {% endif %}
                        {% endfor %}

                    </div>
                </div>
            {% endif %}
            <!-- Ficha.keywords -->
            <div class="col-span-full row-span-1 w-full justify-start py-1">
                {% for keyword in ficha.keywords.all %}
                    <span class="rounded-full bg-zinc-50 px-2 py-1 mr-0.5 prose-sm">{{ keyword }}</span>
                {% endfor %}
            </div>
            <!-- Ficha.metadata (fechas) -->
            <div class="col-span-full row-span-1 flex w-full flex-col justify-start text-center">
                <span class="self-start font-thin text-muted">Fecha de creación y última fecha de actualización:</span>
                <span class="self-start font-thin text-muted">{{ ficha.created_at }} / {{ ficha.updated_at }}</span>
                <span class="self-start font-thin text-muted">Encargo: {{ ficha.assignment_id }}, {{ ficha.assignment.title.title }}</span>
            </div>

            <div class="col-span-full row-span-1 w-full rounded-full h-[0.5vh] bg-baublue">

            </div>

            <!-- Ficha.review -->
            <span class="mb-2 self-start font-thin col-span-full text-start">Evaluaciones:</span>
            {% include 'review_list.html' %}

        </div>
    </div>
{% endblock %}

{#CREAR RESENA#}
{#<button#}
{#        hx-get="{% url 'Fichas:review-create' user_id=ficha.student_id assignment_id=ficha.assignment_id %}?counter={{ forloop.counter0 }}"#}
{#        hx-trigger="click"#}
{#        hx-target="this"#}
{#        hx-swap="outerHTML"#}
{#        class="w-fit px-4 py-1 text-white bg-baublue hover:cursor-pointer">#}
{#    Crear#}
{#</button>#}