{% extends 'base.html' %}
{% load static %}
{% block title %}<title>Fichas</title>{% endblock %}
{% block content %}
    <div class="grid grid-cols-12 grid-rows-6 h-full font-primary">
        <div class="container row-span-full col-start-1 col-end-2 border-baublack border-x-4 border-y-4 my-1">
            {% include 'components/sidebar.html' %}
        </div>
        <div class="mt-2 justify-items-center justify-center text-center bg-baublue row-start-1 row-span-1 col-start-3 col-end-12 mb-14">
            <div class="grid grid-cols-6 grid-rows-3">
                <span class="mt-6 flex flex-col font-bold text-2xl text-white self-center justify-self-center">Fichas</span>
                <span class="col-start-5 row-start-2 -mt-6"><a class="bg-bauyellow rounded-full px-3 py-1" href="{% url 'ficha-create' %}">Crear ficha</a></span>
            </div>
        </div>


        <div id="content" class=" row-start-1 row-span-full col-start-3 col-end-12 grid grid-cols-3 gap-4 items-center">
            {#            <div class="ring-2 ring-baublack col-span-3 row-span-2">#}
            {% for ficha in fichas %}
                <div class=" text-center p-4 ring-2 ring-baublack mx-auto"> <!-- Centered content for each ficha -->
                    <a class="bg-bauyellow font-primary font-semibold hover:text-baublue" href="{% url 'ficha-detail' ficha.id %}">{{ ficha.title }}</a>
                    <img class="user-avatar self-center justify-self-center mx-auto" src="{{ ficha.main_image.url }}" alt="ficha image">
                    <ul class="px-36">
                        <li class=" border-baublack border-b-2">{{ ficha.student.user.first_name }} {{ ficha.student.user.last_name }}</li>
                        <li>{{ ficha.description }}</li>
                        <li>{{ ficha.analysis }}</li>
                        <li>{{ ficha.references }}</li>
                        <li>{{ ficha.misc }}</li>
                        <li>{{ ficha.created_at }} / {{ ficha.updated_at }}</li>
                        {% if ficha.status == 'Borrador' %}
                            <li class="text-bauyellow text-sm ">{{ ficha.status }}</li>
                        {% else %}
                            <li class="text-baublue text-sm ">{{ ficha.status }}</li>
                        {% endif %}
                    </ul>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block footer %}
    {% include 'components/footer.html' %}
{% endblock %}