{% extends 'base.html' %}
{% load static %}
{% block title %}<title>Fichas</title>{% endblock %}
{% block content %}
    <div class="grid grid-cols-12 grid-rows-6 h-full font-primary">
        <div class="container row-span-full col-start-1 col-end-2 border-baublack border-x-4 border-y-4 my-1">
            {% include 'components/sidebar.html' %}
        </div>

        {% include 'components/header.html' with header_title='Fichas' %}

        <div class="mt-2 flex flex-col justify-center items-center bg-baublue row-start-1 row-span-1 col-start-3 col-end-12 mb-14">
            <span class="font-bold text-2xl text-white">Fichas</span>
            <a class="bg-bauyellow rounded-full px-3 py-1 mt-2" href="{% url 'ficha-create' %}">Crear ficha</a>
        </div>

        <div id="content"
             class="-mt-12 my-1 row-start-2 row-span-full col-start-3 col-end-12 grid grid-flow-col auto-cols-max auto-rows-max gap-4 items-center"
             x-data="{
                 {% for e in fichas %}
                     showInfo{{ forloop.counter0 }}: false,
                         {% endfor %}
                }">
            {% for ficha in fichas %}
                {% include 'components/ficha-list-card.html' %}
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block footer %}
    {% include 'components/footer.html' %}
{% endblock %}