{#{% extends 'base.html' %]#}
{#<form method="post" hx-post="{% url 'ficha-update-delete' ficha.pk %}" hx-swap="outerHTML">#}
{#  {% csrf_token %}#}
{#  <input type="hidden" name="confirm_delete" value="true">#}
{#  <p>Are you sure you want to delete this ficha? This action is irreversible.</p>#}
{#  <label for="password">Enter your password to confirm:</label>#}
{#  <input type="password" name="password" required>#}
{#  <button type="submit" class="rounded bg-red-500 px-4 py-2 text-white hover:bg-red-600">Confirm Delete</button>#}
{#  <a href="{% url 'ficha-detail' ficha.pk %}" class="rounded bg-gray-500 px-4 py-2 text-white hover:bg-gray-600">Cancel</a>#}
{#  {% if error %}<p class="text-red-500">{{ error }}</p>{% endif %}#}
{#</form>#}
{#{% block footer %}#}
{#    {% include 'components/footer.html' %}#}
{#{% endblock %}#}
<div class="rounded bg-white p-8 shadow-lg">
deleteeeee
</div>