.fichas-svg {
    transition: transform 350ms ease-in-out;
}

.fichas-container:hover .fichas-svg {
    transform: scale(1.2);
}

.dropdown-trigger:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    position: absolute;
    z-index: 1;
}

[x-cloak] {
    display: none !important;
}