{% load thumbnail %}

<a href="{% url 'Cuentas:user_detail' user.pk %}">
    {% if user.role == 'A' %}
        {% if user.studentprofile.year == '4' %}
            <li class="my-1 self-center border-4 bg-zinc-100 bg-opacity-30 p-2 text-center transition-all duration-200 border-baublack hover:border-baublue hover:rounded-lg">
                {% elif user.studentprofile.year == '3' %}
            <li class="my-1 self-center border-4 bg-zinc-100 bg-opacity-30 p-2 text-center transition-all duration-200 border-baublack hover:border-bauyellow hover:rounded-lg">
        {% endif %}
    {% else %}
        <li class="my-1 self-center border-4 bg-zinc-100 bg-opacity-30 p-2 text-center transition-all duration-200 border-baublack hover:border-baured hover:rounded-lg">
    {% endif %}

    <div class="relative flex h-full w-full flex-col items-center justify-center px-1 text-center pt-1.5">
        <span>{{ user.first_name }} <b>{{ user.last_name }}</b></span>
        <hr>
        {% thumbnail user.avatar "200x200" crop="center" as im %}
            <img class="self-center" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"
                 alt="{{ user.first_name }} avatar">
        {% endthumbnail %}
    </div>
    <div class="flex flex-col">
        {#<span>{{ user.email }}</span>#}
        {#            <span>{{ user.pronouns }}</span>#}
        <span>{{ user.studentprofile.get_year_display }}</span>
        {#<span>{{ user.get_role_display }}</span>#}
    </div>
    </li>
</a>