<!-- This is the card that is used to display the closed assignments in assignment_list.html  -->
<div class="col-span-1 row-span-1 flex flex-col rounded-md p-5 text-zinc-50 drop-shadow-lg h-[250px] w-[200px] assignment-card bg-baured"
     id="assignment-{{ assignment.id }}">
    <div class="flex flex-col">
        <span class="text-xs font-normal">ID: {{ assignment.id }}</span>
        <span class="flex flex-grow items-center justify-center text-center font-medium capitalize">{{ assignment.title }}</span>
        <p class="truncate text-sm font-thin">{{ assignment.description }}</p>
    </div>
    <hr class="my-1">
    <div class="flex flex-col">
        {% if datetime.now < assignment.time_window_start %}
            <p class="text-xs font-thin leading-tight">La ficha abre el<br>{{ assignment.time_window_start| date }}</p>
        {% else %}
            <p class="text-xs font-thin leading-tight">La ficha cerró el<br>{{ assignment.time_window_end| date }}</p>
        {% endif %}
    </div>
    <div class="mt-2 flex justify-center">
        <a class="rounded px-4 py-2 font-bold text-white bg-baured">
            Ficha Cerrada
        </a>
    </div>
</div>
