<!-- This is the card that is used to display the closed assignments in assignment_list.html  -->
<div class="col-span-2 row-span-1 flex h-fit w-fit flex-col rounded-md p-5 text-zinc-50 drop-shadow-lg saturate-50 assignment-card bg-baured">
    <h2 class="flex font-medium">{{ assignment.title }}</h2>
    <p class="flex font-normal">{{ assignment.description }}</p>
    <p class="flex text-sm font-thin">{{ assignment.time_window_start }}</p>
    <p class="flex text-sm font-thin">{{ assignment.time_window_end }}</p>
</div>