{% load widget_tweaks %}
<form method="post" hx-post="{% url 'Fichas:assignment-create' %}"
      x-on:submit="createModal = false"
      @click.outside="createModal = false"
      class="container rounded-xl mx-auto flex flex-col justify-items-center bg-baublue text-zinc-50 accent-baublack p-10 w-fit">
    {% csrf_token %}
    {% for field in form %}
        <div class="flex flex-col self-start">
            {{ field.label_tag }}
            {{ field | add_class:"text-baublack" }}
        </div>
    {% endfor %}
    <!-- Other fields -->
    <button type="submit"
            class="mt-2 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
        Create
    </button>
</form>

{# hx-target="#assignment-list" hx-swap="beforeend" #}