{% load thumbnail %}
<div @mouseover="showInfo{{ forloop.counter0 }} = true"
     @mouseleave="showInfo{{ forloop.counter0 }} = false"
     @click="window.location.href = '{% url 'Fichas:ficha-detail' ficha.student.user.id ficha.assignment.id %}'"
     class="relative cursor-pointer p-2 text-center ring-2 ring-baublack col-span-1 row-span-1 aspect-[1/1]"
     id="card">
    <div id="card-content">
        <span class="inset-0 z-10 block h-full w-full cursor-pointer truncate font-semibold bg-bauyellow font-primary hover:text-baublue">{{ ficha.title }}</span>
        {% thumbnail ficha.main_image "150x150" crop="top" as MI %}
            <img class="mx-auto my-2 h-32 w-32 self-center object-cover" src="{{ MI.url }}"
                 alt="{{ ficha.title }} main image">
        {% endthumbnail %}
        <ul class="px-4">
            <li class="truncate border-b-2 font-bold border-baublack">{{ ficha.student.user.first_name }} {{ ficha.student.user.last_name }}</li>
        </ul>
    </div>

    <div id="info" x-show="showInfo{{ forloop.counter0 }}"
         x-transition.opacity.duration.300ms
         class="absolute inset-0 flex h-full w-full flex-col items-center justify-center bg-zinc-100">
        <span class="text-muted">{{ ficha.updated_at }}<br>{{ ficha.status }}</span>
    </div>
</div>
