<!-- components/ficha-card.html -->
{% load thumbnail %}
<a class="col-span-2 row-span-2 border-2 transition-all border-baublack hover:border-bauyellow"
   href="{% url 'Fichas:ficha-detail' ficha.student.user.id ficha.assignment.id %}">
    <div id="ficha-card" class="relative flex h-full w-full flex-col px-1 pt-3 text-center">
        <span class="font-bold">{{ ficha.title }}</span>
        {% thumbnail ficha.main_image "150x150" crop="top" as MI %}
            <img class="w-fit self-center" src="{{ MI.url }}" width="{{ MI.width }}" height="{{ MI.height }}"
                 alt="{{ ficha.title }} main image">
        {% endthumbnail %}
        <span class="absolute bottom-0 self-center text-sm text-muted">{{ ficha.updated_at }}</span>
    </div>
</a>
