{% load thumbnail %}
<div @mouseover="showInfo{{ forloop.counter0 }} = true"
     @mouseleave="showInfo{{ forloop.counter0 }} = false"
     @click="window.location.href = '{% url 'Fichas:ficha-detail' ficha.student.user.id ficha.assignment.id %}'"
     class="relative cursor-pointer p-2 text-center ring-2 ring-baublack col-span-1 bg-bg-bau row-span-1 aspect-[1/1] drop-shadow-lg"
     id="card">
    <div id="card-content">
        <span class="block font-semibold bg-bauyellow font-primary leading-4 py-1">{{ ficha.title }},<br> <span
                class="font-normal">{{ ficha.student.user.first_name }} {{ ficha.student.user.last_name }}</span></span>
        <div class="bg-cover bg-center aspect-[1/1] w-full h-full my-2"
             style="background-image: url('{{ ficha.main_image.url }}')">
        </div>
    </div>
    <div id="info" x-show="showInfo{{ forloop.counter0 }}"
         x-transition.opacity.duration.300ms
         class="absolute inset-0 flex h-full w-full flex-col items-center justify-center bg-zinc-100">
        <span class="text-muted">{{ ficha.updated_at }}<br>{{ ficha.status }}</span>
    </div>
</div>
