<div @click.outside="showModal = false" class="rounded bg-white p-8 shadow-lg">
    <p class="mb-4 text-lg">¿Estás seguro de que quieres eliminar esta ficha? Esta accion es irreversible.</p>
    <form action="{% url 'Fichas:ficha-delete' ficha.student.user.id ficha.assignment.id %}" method="post">
        {% csrf_token %}
        <button name="confirm_delete" type="submit" class="rounded px-4 py-2 text-white bg-baured hover:bg-red-600">
            ELIMINAR DE TODAS FORMAS
        </button>
        <button @click="showModal = false" type="button"
                class="rounded px-4 py-2 text-white bg-baublue hover:bg-blue-600">CANCELAR
        </button>
    </form>
</div>


