<!-- components/update-assignment-form.html -->
{% load widget_tweaks %}
<form method="post"
      hx-post="{% url 'Fichas:assignment-update' assignment.pk %}"
      x-on:submit="updateModal = false"
      @click.outside="updateModal = false"
      class="container mx-auto flex flex-col justify-items-center rounded-xl p-10 text-zinc-50 bg-baublue accent-baublack w-fit">
    <span class="text-white">ID:{{ assignment.pk }}</span>
    <!-- ... rest of the form ... -->
    {% csrf_token %}
    {% for field in form %}
        <div class="flex flex-col self-start">
            {{ field.label_tag }}
            {{ field|add_class:"text-baublack" }}
        </div>
    {% endfor %}
    <!-- The update button  -->
    <button type="submit"
            class="mt-2 cursor-pointer rounded bg-blue-500 px-4 py-2 font-bold text-white hover:bg-blue-700">
        Actualizar
    </button>
    <!-- The delete button  -->
    <button type="button"
            class="mt-2 cursor-pointer rounded px-4 py-2 font-bold text-white bg-baured hover:bg-red-400">
        Borrar
    </button>
</form>