<!-- This modal allow the teacher user to either update or delete the assignment -->
<!-- The modal is triggered by the edit button in the assignment card -->
<!-- updateModal.html -->
<!-- updateModal.html -->
{% load widget_tweaks %}
<div x-show="updateModal"
     x-transition.opacity
     x-cloak
     class="fixed inset-0 z-20 flex items-center justify-center bg-black bg-opacity-50"
     aria-hidden="true">
    <form method="post"
          hx-post="{% url 'Fichas:assignment-update' assignmentId as assignment_id %}"
          x-on:submit="updateModal = false"
          @click.outside="updateModal = false"
          class="container mx-auto flex flex-col justify-items-center rounded-xl p-10 text-zinc-50 bg-baublue accent-baublack">
        <span class="text-white">{{ assignment_id }}</span>
        <!-- ... rest of the form ... -->
        {% csrf_token %}
        {% for field in form %}
            <div class="flex flex-col self-start">
                {{ field.label_tag }}
                {{ field | add_class:"text-baublack" }}
            </div>
        {% endfor %}
        <!-- The update button  -->
        <button type="submit"
                class="mt-2 cursor-pointer rounded bg-blue-500 px-4 py-2 font-bold text-white hover:bg-blue-700">
            Update
        </button>
        <!-- The delete button  -->
        <button type="button"
                class="mt-2 cursor-pointer rounded px-4 py-2 font-bold text-white bg-baured hover:bg-blue-700">
            Delete
        </button>
    </form>
    {% if form.errors %}
        {% for field, errors in form.errors.items %}
            {% for error in errors %}
                <div>{{ error }}</div>
            {% endfor %}
        {% endfor %}
    {% endif %}
</div>
