{% extends "base.html" %}
{% load static %}
{% block title %}Profile Page{% endblock title %}
{% block content %}
    <div class="container">
        <h1>This is the profile page for </h1>

        {% if user.is_student %}
           <h1>Alumne:</h1>
        {% elif user.is_teacher %}
            <h1>Profesor:</h1>
        {% else %}
            <h1>Other:</h1>
        {% endif %}

{#    div container for the profile information, with the profile picture and the name besides#}
        <div class="">
            <h2>{{user.first_name}} {{ user.last_name }}</h2>

{#        check for profile image, if not, show default#}
            <div >
                {% if user.avatar %}
                <img src="{{user.avatar.url}}" alt="Profile Picture" class="img-fluid"
                style="width: 300px; height: 300px;">
                {% else %}
                <img src="{% static 'default.png' %}" alt="Profile Picture" class="img-fluid"
                style="width: 300px; height: 300px;">
                {% endif %}
            </div>
{# profile user data#}
            <div>
                <p>Pronouns: {{ user.pronouns }}</p>
                <p>Username: {{user.username}}</p>
                <p>Email: {{user.email}}</p>
                <p>First Name: {{user.first_name}}</p>
                <p>Last Name: {{user.last_name}}</p>
            </div>
        </div>
    </div>

{% endblock content %}