<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    {% block title %}
    <title>Base</title>
    {% endblock %}
    {% load tailwind_tags %}
    {% tailwind_css %}
    {% load static %}
    <script src="/node_modules/htmx.org/dist/htmx.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>

<body class="bg-bg-bau flex flex-col h-screen">
{% block sidebar %}
{% endblock %}

{% block content %}

{% endblock %}

{% block footer %}
{% endblock %}
</body>
</html>