{% load django_bootstrap5 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
    <title>Base</title>
    {% endblock %}
    {% bootstrap_css %}
</head>

<body>
{% bootstrap_messages %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <ul class="navbar-nav mx-auto">
        <li class="nav-item"><a class="nav-link active" href='{% url 'home' %}'>Home</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'profesores' %}">Profesores</a></li>
        <li class="nav-item"><a class="nav-link" href="{%  url 'alumni' %}">Alumnos</a></li>
        <li class="nav-item"><a class="nav-link" href="fichas.html">Mis Fichas</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'perfil' %}">Mi Perfil</a></li>

        {% if user.is_authenticated %}
            <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Log out</a></li>
        {% else %}
            <li class="nav-item"><a class="navbar-link" href="{% url 'login' %}">Log in</a></li>
            <li class="nav-item"><a class="navbar-link" href="{% url 'signup' %}">Sign up</a></li>
        {% endif %}
    </ul>
    </div>
</nav>

    {% block content %}

    {% endblock %}

</body>
</html>