{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% bootstrap_messages %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
    <title>Base</title>
    {% endblock %}
</head>
<body>
<nav id="mainNav" class="navbar navbar-expand-md sticky-top navbar-shrink py-3 navbar-light">
    <div class="container"><button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div id="navcol-1" class="collapse navbar-collapse">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item"><a class="nav-link active" href='{% url 'home' %}'>Home</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'profesores' %}">Profesores</a></li>
                <li class="nav-item"><a class="nav-link" href="{%  url 'alumni' %}">Alumnos</a></li>
                <li class="nav-item"><a class="nav-link" href="fichas.html">Mis Fichas</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'perfil' %}">Mi Perfil</a></li>
            </ul>
            {% if user.is_authenticated %}
            <a class="btn btn-primary shadow" role="button" href="{% url 'logout' %}">Log out</a>
            {% else %}
            <a class="btn btn-primary shadow" role="button" href="{% url 'register' %}">Sign up</a>
            <a class="btn btn-primary shadow" role="button" href="{% url 'login' %}">Log in</a>
            {% endif %}
        </div>
    </div>
</nav>
<div class="row pt-5 d-flex justify-content-center" >
    {% block content %}

    {% endblock %}
</div>

</body>
</html>