{% extends 'base.html' %}
{% block title %}
    <title>Inicio</title>
{% endblock %}

{% block sidebar %}
{% include 'components/sidebar.html' %}
{% endblock %}

{% block content %}

    {% if user.is_authenticated %}
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center">Bienvenido {{ user.username }}</h1>
                </div>
            </div>
        </div>
    {% else %}
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center">WHAT</h1>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

