{% extends 'base.html' %}
{% block content %}
    <div class="container relative mx-auto flex h-screen w-screen flex-col overflow-clip"
         x-data="{login_modal: false}">

        {% if user.is_authenticated %}

            <div class="relative z-10 basis-2/12 text-center text-5xl border-baublack font-primary font-regular">
                <span class="absolute inset-x-0 bottom-0 justify-self-end pb-3">Hola, <span
                        class="font-semibold">{{ user.first_name }} {{ user.last_name }}</span>!</span>
            </div>
            <div class="container z-30 mx-auto my-auto flex basis-3/4 flex-col gap-12 border-t-4 text-center border-baublack">
                <a class="mx-auto mt-12 rounded-full px-4 py-2 text-white ring-inset transition-all duration-500 bg-baublue font-primary hover:bg-blue-600 hover:ring-2 hover:ring-blue-700"
                   href="{% url 'home' %}">Ir a la plataforma</a>
                <a class="mx-auto rounded-full px-4 py-2 text-white ring-inset transition-all duration-500 bg-baured font-primary hover:ring-baured hover:bg-red-600 hover:ring-2"
                   href="{% url 'Cuentas:logout' %}">Log Out</a>
            </div>
        {% else %}

            <div class="relative basis-2/12 text-center text-5xl border-baublack font-primary font-regular">
                <span class="absolute inset-x-0 bottom-0 justify-self-end pb-3">No has iniciado sesión</span>
            </div>
            <div class="container mx-auto my-auto flex basis-3/4 flex-col gap-12 border-t-4 text-center border-baublack">
                <a class="cursor-pointer mx-auto mt-12 rounded-full px-4 py-2 text-white transition-all bg-baublue font-primary hover:ring-baublack hover:ring-2"
                   hx-get="{% url 'lmodal' %}"
                   hx-trigger="click"
                   hx-target="#loginmodal"
                   hx-indicator=".htmx-indicator"
                   @click="login_modal = true">Iniciar Sesión</a>
            </div>
            <div id="loginmodal" x-cloak x-show="login_modal">
            </div>
        {% endif %}
    </div>

    <div class="relative -z-20 w-screen">
        <svg class="absolute bottom-0 left-0 basis-1/2 overflow-visible"
             width="1024" height="1024"
             viewBox="0 0 1024 1024" fill="none"
             xmlns="http://www.w3.org/2000/svg">
            <path d="M1056 1024C1056 458.46 583.213 0 0 0V1024H1056Z" fill="url(#paint0_linear_83_142)"></path>
            <defs>
                <linearGradient id="paint0_linear_83_142" x1="61" y1="132.5" x2="528" y2="1295"
                                gradientUnits="userSpaceOnUse">
                    <stop stop-color="#EA604C" offset="0"></stop>
                    <stop offset="0.414284" stop-color="#B73D2C"></stop>
                    <stop offset="0.910832" stop-color="#A93C2D"></stop>
                </linearGradient>
            </defs>
        </svg>
        <svg class="absolute right-0 bottom-0 basis-1/2"
             width="1061" height="1024"
             viewBox="0 0 1061 1024" fill="none"
             xmlns="http://www.w3.org/2000/svg">
            <path d="M0 0C0 565.54 475.026 1024 1061 1024V513.309C754.268 513.309 505.612 283.493 505.612 0H0Z"
                  fill="#FEC223"></path>
            <path d="M740 0.000564289C740 193.281 912.047 297 1061 297L1061 0L740 0.000564289Z"
                  fill="#454285"></path>
        </svg>
    </div>



    {#    {% include 'components/footer.html' %}#}
{% endblock %}