{% extends 'base.html' %}
{% block title %}<title>Log In</title>{% endblock %}
{% block content %}

    <div class="grid w-screen grid-cols-12 grid-rows-5 px-3 gap-0.5">
        <div class="col-start-1 col-end-3 row-start-1 row-end-6 border-4 border-baublack"></div>
        <div class="col-start-11 col-end-13 row-start-1 row-end-6 border-4 border-baublack"></div>
        <div class="container col-start-3 col-end-6 row-start-1 row-end-3 border-4 px-4 py-6 border-baublack">
            <span class="mb-6 text-2xl font-semibold font-primary"> Inicia Sesion </span>

            <div class="grid grid-cols-1 grid-rows-4 flex-col place-content-between justify-center text-center">
                <div class="col-span-full row-start-2 row-end-4 flex flex-col justify-evenly">

                    <form method="post" class="flex flex-col justify-evenly">
                        {% csrf_token %}
                        {{ form.email }}
                        <br>
                        {{ form.password }}
                        <br>
                        <button type="submit" value="Login"
                                class="col-span-full row-span-1 mb-6 rounded-full text-white ring-2 ring-baublack font-primary bg-baublue">
                            Log In
                        </button>
                    </form>
                    <a class="justify-self-center font-medium text-blue-500 font-primary">Contactar al Admin</a>
                    <div class="col-span-1 row-span-1 row-start-1 flex-wrap">
                        {% if form.errors %}
                            {% for error in form.non_field_errors %}
                                <div class="text-red-500">{{ error }}</div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="relative col-start-6 col-end-11 row-start-1 row-end-3 overflow-clip border-4 border-baublack">
            <div class="flex flex-shrink">
            <span class="flex px-36 pt-5 pb-3 text-8xl font-semibold font-primary">
                FPP
                <a class="font-black text-bauyellow">/</a>T16
            </span>
            </div>
            <svg class="absolute inset-x-2 right-0 bottom-0 w-full scale-x-110" viewBox="-10 0 830 380"
                 width="100%"
                 fill="none"
                 xmlns="http://www.w3.org/2000/svg">
                <path d="M405 393C405 175.952 223.675 0 0 0V393H405Z" fill="#C5402D"></path>
                <path d="M810 196C692.916 196 598 283.752 598 392H810V196Z" fill="#454285"></path>
            </svg>
        </div>

        <div class="col-start-3 col-end-6 row-start-3 row-end-5 border-4 border-baublack bg-baublue"></div>
        <div class="relative col-start-6 col-end-11 row-start-3 row-end-5 overflow-clip border-4 border-baublack">
            <svg class="absolute right-0 scale-x-110" width="390" height="390" viewBox="0 0 390 390"
                 fill="none"
                 xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M0 0C0 215.943 181.325 391 405 391V196C287.916 196 193 108.248 193 0H0Z"
                      fill="#FEC223"></path>
            </svg>
        </div>
        <div class="col-start-3 col-end-11 row-start-5 row-end-6 border-4 border-baublack">

        </div>
    </div>
    {#    {% include 'components/footer.html' %}#}
{% endblock %}