{% extends 'base.html' %}
{% load custom_filters %}
{% load static %}


{% block title %}
    <title>Usuarios</title>
{% endblock %}

{% block content %}
    <div class="grid grid-cols-12 grid-rows-6 h-full font-primary">
        {% include 'components/header.html' with header_title='toddys' %}
        <div class="container col-start-1 col-end-2 row-span-full my-1">
            {% include 'components/sidebar.html' %}
        </div>

        <div id="content"
             class="col-start-2 col-span-full row-start-1 mt-20 mr-8 row-span-full
             items-start grid grid-rows-2 gap-3 h-full">
            <!-- Students -->
            <div class="flex flex-col h-full justify-evenly">

                <div id="alumnes" class="row-start-1 flex flex-row  border-4 p-1 border-bauyellow relative">
                    <div class="absolute left-0 inset-0 mr-12 h-full w-24 flex items-center justify-center bg-bauyellow">
                        <a href="{% url 'Cuentas:alumni' %}"
                           class="flex self-center text-center w-full h-full items-center justify-center
                           hover:underline decoration-wavy decoration-blue-600 transition-all">
                            Alumnes
                        </a>
                    </div>
                    <div class="ml-24">
                        {% include 'components/user_list.html' with users=users|filter_by_role:"A" title="Alumnes" %}
                    </div>
                </div>


                <!-- Teachers -->
                <div id="profesores"
                     class="row-start-1 flex flex-row  border-4 p-1 border-baured relative text-zinc-50">
                    <div class="absolute left-0 inset-0 mr-12 h-full w-24 items-center justify-center bg-baured">
                        <a href="{% url 'Cuentas:profesores' %}"
                           class="flex self-center text-center w-full h-full items-center justify-center
                           hover:underline decoration-wavy decoration-zinc-50 transition-all">
                            Profesores
                        </a>
                    </div>
                    <div class="ml-24 text-baublack">
                        {% include 'components/user_list.html' with users=users|filter_by_role:"P" title="Profesores" %}
                    </div>
                </div>
                <!-- Others -->
                {#                #}
                {#                <div id="otros" class="row-start-1 flex flex-row  border-4 p-1 border-baured relative">#}
                {#                    <div class="absolute left-0 inset-0 mr-12 h-full w-24 flex items-center justify-center bg-baured">#}
                {#                 <span class="flex self-center text-center w-full h-full items-center justify-center">#}
                {#                    Otros#}
                {#                </span>#}
                {#                    </div>#}
                {#                    <div class="ml-24">#}
                {#                        {% include 'components/user_list.html' with users=users|filter_by_role:"NS" title="Otros" %}#}
                {#                    </div>#}
                {#                </div>#}
            </div>
        </div>
    </div>
{% endblock content %}

{% block footer %}
    {% include 'components/footer.html' %}
{% endblock %}