{% extends 'base.html' %}
{% load custom_filters %}
{% load static %}

{% block title %}
    <title>Alumnes</title>
{% endblock %}

{% block content %}
    <div class="grid h-full grid-cols-12 font-primary">
        <div class="col-span-1">
            {% include 'components/sidebar.html' %}
        </div>
        <div class="col-span-full col-start-2 row-span-1">
            {% include 'components/header.html' with header_title='Alumnes' %}
        </div>


        <div id="content"
             class="col-span-full col-start-2 row-span-2 row-start-2 grid grid-rows-2 place-items-start items-stretch gap-3 pr-2">

            <div id="tercero"
                 class="grid grid-rows-1 border-4 h-[40vh] border-bauyellow grid-cols-12 w-full">
                <div class="col-span-1 h-full text-center bg-bauyellow max-w-[5vw]">
                    TERCERO
                </div>
                <div class="col-start-2 col-span-full grid grid-cols-12 grid-rows-1 w-full h-full gap-2">
                    {% include 'components/user_list.html' with users=users|filter_by_year:"3" %}
                </div>
            </div>

            <div id="cuarto"
                 class="grid grid-rows-1 border-4 h-[40vh] border-baublue grid-cols-12 w-full">
                <div class="col-span-1 h-full text-center text-white bg-baublue max-w-[5vw]">
                    CUARTO
                </div>
                <div class="col-start-2 col-span-full grid grid-cols-12 grid-rows-1 w-full h-full gap-2">
                    {% include 'components/user_list.html' with users=users|filter_by_year:"4" %}
                </div>
            </div>

        </div>

    </div>
{% endblock content %}