{% extends 'base.html' %}
{% load custom_filters %}
{% load static %}

{% block title %}
    <title>Alumnes</title>
{% endblock %}

{% block content %}
    #TODO
    <div class="grid h-full grid-cols-12 font-primary">
        <div class="col-span-1">
            {% include 'components/sidebar.html' %}
        </div>
        <div class="col-span-full col-start-2">
            {% include 'components/header.html' with header_title='Alumnes' %}
        </div>


        <div id="content" class="col-span-full col-start-2 grid grid-rows-2 items-start gap-3 pr-2 h-[95vh]">
            <!-- Added relative positioning -->

            <div id="tercero" class="row-span-1 grid grid-rows-1 border-4 h-[40vh] border-bauyellow">
                <span class="col-span-1 col-start-1 flex h-full items-center justify-center self-center text-center bg-bauyellow w-[5vw]">
                    TERCERO
                </span>
                <div class="col-start-2 grid grid-cols-12">
                    {% include 'components/user_list.html' with users=users|filter_by_year:"3" %}
                </div>
            </div>

            <div id="cuarto" class="row-span-1 grid grid-rows-1 border-4 h-[40vh] border-baublue">
                <span class="col-span-1 col-start-1 flex h-full items-center justify-center self-center text-center text-white bg-baublue w-[5vw]">
                    CUARTO
                </span>
                <div class="col-start-2 grid grid-cols-12">
                    {% include 'components/user_list.html' with users=users|filter_by_year:"4" %}
                </div>
            </div>

        </div>

    </div>
{% endblock content %}