{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% load widget_tweaks %}
{% block content %}
    <div class="container mx-auto mt-2 grid h-screen grid-cols-12 grid-rows-6 pt-2 pl-2 font-primary">
        <div class="col-start-1 col-end-3 row-start-1 row-end-2 flex-col justify-between">
            <a href="{% url 'Cuentas:user_detail' user.pk %}"
               class="flex border-baublack border-2 rounded-full py-2 ml-2 px-3 w-fit text-baublack
       hover:bg-baublue hover:text-zinc-50 transition-all mb-3 absolute left-0">
                <i class="fa-solid fa-arrow-left"></i>
            </a>

            <img src="{{ user.avatar.url }}" alt="avatar"
                 class="mt-20 h-fit resize">
        </div>
        <div class="container col-start-3 col-end-12 row-start-1 row-end-4 mt-16 ml-2 flex-col">

            <form hx-post="{% url 'Cuentas:edit_user' user.pk %}"
                  x-on:submit="editModal = false"
                  @click.outside="editModal = false"
                  method="post"
                  enctype="multipart/form-data"
                  class="container grid h-fit grid-cols-12 gap-y-2 gap-x-1.5">
                {% csrf_token %}
                {#                <label for="title" class="flex text-sm font-medium leading-6 text-gray-900">Titulo</label>#}
                <div class="container col-start-1 col-end-4 row-span-1 mt-1 w-full">
                    <label
                            class="mb-0 block text-sm font-medium text-gray-900 dark:text-white" for="file_input">
                        Sube una imagen
                    </label>
                    {% render_field form.avatar class="file:-mx-2 file:mr-2 w-fit file:cursor-pointer file:overflow-hidden file:rounded-none rounded-full border-2 file:border-none bg-zinc-50 px-2 file:py-2 text-sm file:text-white transition-all file:-my-[0.32rem] file:bg-baublue border-baublack hover:file:bg-blue-600" id="file_input" type="file" %}
                    <p class="mt-1 text-sm leading-tight text-gray-500 dark:text-gray-300" id="file_input_help">
                        SVG, PNG, JPG or GIF (MAX. 800x400px).
                    </p>
                </div>
                <div class="col-start-1 col-end-12 flex h-auto w-full cursor-text mt-0.5">
                    <div class="flex flex-row space-x-2">
                        <div class="flex-col">

                            <label for="fname" class="text-sm font-medium leading-6 text-gray-900">Nombre</label>
                            {% render_field form.first_name type="text" name="fname" id="fname" class="flex w-1/2 rounded-r-lg border bg-zinc-50 px-2 pl-1 placeholder:text-gray-400 text-gray-900 border-baublack border-spacing-0.5 py-1.5 min-w-[200px] focus:ring-0 sm:text-sm" placeholder="Nombre" %}
                        </div>
                        <div class="flex-col">
                            <label for="lname" class="flex text-sm font-medium leading-6 text-gray-900">Apellido</label>
                            {% render_field form.last_name type="text" name="lname" id="lname" class="flex w-1/2 rounded-r-lg border bg-zinc-50 px-2 pl-1 placeholder:text-gray-400 text-gray-900 border-baublack border-spacing-0.5 py-1.5 min-w-[200px] focus:ring-0 sm:text-sm" placeholder="Apellido" %}

                        </div>
                    </div>
                </div>
                <div class="col-start-1 col-end-4 flex h-auto w-full cursor-text mt-0.5">
                    <div class="flex flex-row space-x-2">
                        <div class="flex-col">
                            <label for="pronouns"
                                   class="text-sm font-medium leading-6 text-gray-900">Pronombres</label>
                            {% render_field form.pronouns type="text" name="pronouns" id="pronouns" class="flex w-full rounded-r-lg border bg-zinc-50 px-2 pl-1 placeholder:text-gray-400 text-gray-900 border-baublack border-spacing-0.5 py-1.5 min-w-[200px] focus:ring-0 sm:text-sm" placeholder="Pronombres" %}
                        </div>
                        <div class="flex-col">
                            <label for="bday" class="text-sm font-medium leading-6 text-gray-900">Cumpleaños</label>
                            {% render_field form.birth_date name="bday" id="bday" class="flex w-full cursor-pointer rounded-r-lg border bg-zinc-50 px-2 pl-1 placeholder:text-gray-400 text-gray-900 py-1.5 min-w-[200px] focus:ring-0 sm:text-sm" %}
                        </div>
                    </div>
                </div>
                <div class="col-span-1 col-start-4 row-start-4 mt-4 ml-12 flex-1">
                    <button @
                            type="submit"
                            class="h-fit w-auto cursor-pointer self-end rounded-full border-2 px-3 py-2 text-sm text-zinc-50 transition-all duration-300 ease-in-out border-baublack bg-baublue font-primary hover:bg-blue-600">
                        Guardar
                    </button>
                </div>
            </form>


        </div>
    </div>
{% endblock %}
```