{% extends 'base.html' %}
{% load custom_filters %}
{% load static %}

{% block title %}
    <title>Profesores</title>
{% endblock %}

{% block content %}
    <div class="grid grid-cols-12 grid-rows-6 font-primary h-full">
        <div class="container row-span-full col-start-1 col-end-2 my-1">
            {% include 'components/sidebar.html' %}
        </div>

        {% include 'components/header.html' with header_title='Profesores' %}

        <div id="content"
             class="-mt-12 my-1 row-start-2 row-span-full col-start-3 col-end-12 grid grid-flow-col auto-cols-max auto-rows-max">
            <!-- Teachers -->
            {% include 'components/user_list.html' with users=users|filter_by_role:"P" title="Profesores" %}
        </div>
    </div>
{% endblock content %}

{% block footer %}
    {% include 'components/footer.html' %}
{% endblock %}
