{% extends 'base.html' %}
{% load custom_filters %}
{% load static %}

{% block title %}
    <title>Profesores</title>
{% endblock %}

{% block content %}
    <div class="grid h-full grid-cols-12 font-primary">
        <div class="col-span-1">
            {% include 'components/sidebar.html' %}
        </div>
        <div class="col-start-2 col-span-full">
            {% include 'components/header.html' with header_title='Profesores' %}
        </div>


        <div id="content"
             class="col-start-2 col-span-full
             items-start grid grid-rows-2 gap-3 pr-2">
            <!-- Teachers -->
            {% include 'components/user_list.html' with users=users|filter_by_role:"P" title="Profesores" %}
        </div>
    </div>
{% endblock content %}