{% extends 'base.html' %}
{% load custom_filters %}
{% load static %}

{% block title %}
    <title>Profesores</title>
{% endblock %}

{% block content %}
    <div class="grid h-full grid-cols-12 grid-rows-6 font-primary">
        <div class="container col-start-1 col-end-2 row-span-full my-1">
            {% include 'components/sidebar.html' %}
        </div>


        {% include 'components/header.html' with header_title='Profesores' %}


        <div id="content"
             class="col-start-2 col-span-full row-start-1 mt-20 mr-8 row-span-full
             items-start grid grid-rows-2 gap-3 h-full">
            <!-- Teachers -->
            {% include 'components/user_list.html' with users=users|filter_by_role:"P" title="Profesores" %}
        </div>
    </div>
{% endblock content %}

{% block footer %}
    {% include 'components/footer.html' %}
{% endblock %}
