{% extends 'base.html' %}
{% load thumbnail %}

{% block title %}<title>{{ user.first_name }}</title>{% endblock %}

{% block content %}
    <div id="nav-sidebar" class="grid h-full grid-cols-12 font-primary"
         x-data="{'editModal': false}">
        <div class="container col-start-1 col-end-2 row-span-full my-1">
            {% include 'components/sidebar.html' %}
        </div>

        <div id="content" class="col-start-2 col-span-full mx-2 mt-6 p-4">

            <div id="container-grid" class="grid h-full w-full grid-cols-3 px-6">

                <div id="pfp"
                     class="col-span-1 aspect-[1/1] row-span-1 h-full w-full justify-items-center self-center">
                    <div style="background-image: url('{{ user.avatar.url }}')"
                         class="bg-cover bg-center w-full h-full"></div>
                </div>
                <div id="data" class="col-span-4 row-span-1 pt-4 pl-3">
                    <div class="flex flex-row">

                        <p class="inline-block text-3xl font-medium">{{ user.first_name }} {{ user.last_name }}</p>
                        {% if request.user.pk == student.studentprofile.user.pk or request.user.pk == user.pk %}
                            <a hx-get="{% url 'Cuentas:edit_user' user.pk %}"
                               hx-target="#edit-modal"
                               @click="editModal = true"
                               hx-swap="innerHTML"
                               class="ml-2 inline-block rounded-full border-2 px-3 text-sm transition-all duration-200 border-baublack py-1.5 text-baublack hover:bg-bauyellow/80">
                                Editar perfil
                            </a>
                        {% endif %}
                    </div>
                    <p class="text-sm text-gray-500">{{ user.pronouns }}</p>
                    <span class="text-sm text-gray-500">Cumpleaños: {{ user.birth_date }}</span>
                    <p class="text-muted">{{ user.email }}</p>
                    {% if user.role == 'A' %}
                        <p>{{ user.studentprofile.get_role_display }}
                            de {{ student.studentprofile.get_year_display }}</p>
                    {% elif user.role == 'P' %}
                        <p>{{ user.get_role_display }}</p>
                    {% endif %}
                    <br>
                </div>

                {% if user.role == 'A' %}
                    <div id="keywordcontainer"
                         class="col-span-6 row-span-1 h-full w-full px-4 pt-4">
                        <div id="keywords"
                             class="grid h-full w-full content-evenly gap-2 border-2 px-4 py-4 text-xs border-baublack">
                            <span class="font-semibold col-span-full row-span-1">Palabras Clave</span>
                            {% for tag in tags %}
                                {% include 'components/tag.html' %}
                            {% endfor %}
                        </div>
                    </div>
                    <div id="fichascontainer"
                         class="col-span-full mt-6 border-t-4 px-0 border-baublack">
                        <div id="fichas"
                             class="mt-2 grid h-full w-full grid-cols-5 gap-x-3 gap-y-2 px-1 py-1">
                            {% for ficha in user_fichas %}
                                {% include "components/ficha-card.html" %}
                            {% empty %}
                                <div id="ficha-card"
                                     class="col-span-1 row-span-1 border-2 bg-slate-200 px-1 pt-3 text-center border-baublack">
                                    <span>empty</span>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        <div x-show="editModal"
             x-transition.opacity
             x-cloak
             class="container fixed inset-0 flex items-center justify-center bg-black bg-opacity-50" aria-hidden="true">
            <div id="edit-modal"
                 class="h-1/2 w-fit content-center rounded-xl border-2 p-4 bg-bg-bau content border-baublue"
                 @click.outside="editModal = false">

            </div>
        </div>
    </div>
{% endblock %}