{% extends 'base.html' %}
{% load thumbnail %}

{% block title %}<title>{{ student.first_name }}</title>{% endblock %}

{% block content %}
    <div id="nav-sidebar" class="grid grid-cols-12 grid-rows-6 h-full font-primary">
        <div class="container row-span-full col-start-1 col-end-2 my-1">
            {% include 'components/sidebar.html' %}
        </div>

        <div id="content" class="col-start-2 col-end-13 row-start-1 row-end-7 mx-2 p-4 mt-6">

            <div id="container-grid" class="grid grid-rows-6 grid-cols-12 w-full h-full px-6">

                <div id="pfp"
                     class="col-start-1 col-span-2 row-start-1 row-span-2 w-full h-full justify-items-center">
                    {% thumbnail student.avatar "400x400" crop="center" as im %}
                        <img class="flex self-center scale-110 translate-y-8" src="{{ im.url }}" width="{{ im.width }}"
                             height="{{ im.height }}"
                             alt="{{ student.first_name }} avatar">
                    {% endthumbnail %}
                </div>
                <div id="data" class="col-start-4 col-span-4 row-start-1 row-span-2 pt-4 pl-3 -ml-28">
                    <p class="font-medium text-3xl">{{ student.first_name }} {{ student.last_name }}</p>
                    {% if request.user.pk == student.studentprofile.user.pk %}
                        <div class="mt-2 mb-3">
                            <a href="{% url 'edit_user' student.studentprofile.user.pk %}"
                               class="text-sm border-baublack border-2 rounded-full px-4 py-2 text-baublack hover:bg-bauyellow/80 duration-200 transition-all">
                                Editar perfil
                            </a>
                        </div>
                    {% endif %}
                    <p class="text-sm text-gray-500">{{ student.pronouns }}</p>
                    <p class="text-muted">{{ student.email }}</p>
                    <p>{{ student.get_role_display }} de {{ student.studentprofile.get_year_display }}</p>
                </div>
                <div id="bio" class="col-start-4 col-span-3 row-start-2 -ml-24  -mt-2 border-baublack border-t-2 ">
                    <span class="font-semibold">{{ student.birth_date }}</span><br>
                    {#                    <span class="-ml-2 font-semibold">Bio:</span><br>#}
                    {#                    <span class="ml-1">Lorem Ipsum Dolor Sit Amet Miau miau miau.....</span>#}
                </div>

                <div id="keywordcontainer"
                     class="w-full h-full col-start-7 col-span-6 row-start-1 row-span-2 px-4 pt-4">
                    <div id="keywords"
                         class="border-baublack border-2 w-full h-full px-4 py-4 grid grid-cols-12 grid-rows-6 grid-flow-row gap-2 content-evenly text-xs">
                        <div id="keywords-title"
                             class="border-baublack mb-3 border-b-2 col-span-full row-span-1 row-start-1 font-primary text-lg text-center -mt-2 ">
                            <span class="font-semibold">Palabras Clave</span>
                        </div>
                        {% for tag in tags %}
                            {% include 'components/tag.html' %}
                        {% endfor %}
                    </div>
                </div>
                <div id="fichascontainer"
                     class="mt-6 row-start-3 row-end-7 col-start-1 col-end-13 border-baublack border-t-4 px-0">
                    <div id="fichas"
                         class="mt-2 grid grid-cols-12 grid-rows-6 w-full h-full px-1 py-1 gap-x-3 gap-y-2 grid-flow-row">
                        {% for ficha in user_fichas %}
                            {% include "components/ficha-card.html" %}
                        {% empty %}
                            <div id="ficha-card"
                                 class="bg-slate-200 col-span-2 row-span-3 flex flex-col pt-3 px-1 border-baublack border-2 text-center">
                                <span>empty</span>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    {% include 'components/footer.html' %}
{% endblock %}